# Snowflake - Personal
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=covid_pipeline
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=covid_project_role

# Snowflake - dbt Service User
DBT_SNOWFLAKE_USER=dbt_user
DBT_SNOWFLAKE_PASSWORD=

# CDC API
CDC_API_TOKEN=

# Census API
CENSUS_API_KEY=